button {
    touch-action: manipulation;
    user-select: none;
}

body {
    color: black;
    background-color: lightskyblue;
    margin: 0;
    font-size: 28px;
}

#content {
    padding: 3vw;
    margin: 2vh;
}

.big {
    font-size: 28px;
}

#startmask {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

#startmask h1, button {
    margin: 25px;
    color: white;
    background-color: orange;
    border: 1px solid black;
    padding: 50px;
    border-radius: 10px;
    font-size: 28px;
}

#startmask button {
    padding: 15px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flex-center {
    display: flex;  /* Use flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin: auto;
}

#scoreboardButtons > button {
    display: inline-block; /* Ensure the button behaves like a block-level element */
    margin-top: 10px; /* Add some space above the button */
    text-align: center;
    padding: 5px 20px; /* Adjust padding to give it a more button-like appearance */
    margin-bottom: 30px;
}

label > input {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: auto;
}

th {
    text-align: left;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

#pointsTable th {
    text-align: center;
}

tr td:first-child {
    text-align: center;
    font-weight: bold;
}

table {
    width: 80vw;
    color: black;
    margin: 20px;    /* Add some space between the table and the button */
    align-items: flex-start;
    background-color: #fff;
}

#scoreboard {
    width: 90vw;
    background-color: white;
    font-size: 30px;
    /* padding-top: 30px; */
    margin-bottom: 15px;
    margin: auto;
    border: 1px solid black;
}
#questionSelection {
    margin-top: 20px;
    width: 100px;
}

input {
    accent-color: orange;
}

#answerPoints td {
    text-align: center;
}

#box {
    width: 90vw;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
}

#box table {
    margin: auto;
}

