* {
    touch-action: manipulation;
}

body {
    margin: 0;
}

#startmask {
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

#startmask h1, button {
    margin: 25px;
    color: white;
    background-color: orange;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

#startmask button {
    padding: 5px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flex-center {
    display: flex;  /* Use flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: flex-start; /* Center horizontally */
    margin: auto;
}

table {
    margin-bottom: 10px; /* Add some space between the table and the button */
}

#addAnswer {
    display: block; /* Ensure the button behaves like a block-level element */
    margin-top: 10px; /* Add some space above the button */
    text-align: center;
    padding: 5px 20px; /* Adjust padding to give it a more button-like appearance */
}

label {
    float: left;
    text-align: center;
}

th, td {
    text-align: center;
}

tr td:first-child {
    font-weight: bold;
}